{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
<div class="container">
    <h1>Episode index</h1>
    <div class="text-right">
        <h3>
            <a href="{{ path('episode_new') }}">Create new</a>
        </h3>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Number</th>
                <th>Sysnopsis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.sysnopsis }}</td>
                <td>
                    <a href="{{ path('episode_show', {'slug': episode.slug}) }}">show</a>
                    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
