{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

<div class="container justify-content-center">
    <h1 class="col-12 text-center">{{ program.title }}</h1>
    <div class="justify-content-start row">
        <img class="align-self-start mr-3 thumbnail" src="{{program.poster}}" alt="{{ program.title }} poster">
    <div class="media-body">
        <p>Categorie : <a href="{{ path('wild_showByCategory', {'categoryName' : program.category.name } ) }}">{{ program.category.name }}</a></p>
        <p>{{ program.summary }}</p>
        {% for season in program.seasons %}
            <div>
                <a href="{{ path('wild_showBySeason', {'id' : season.id}) }}">
                    {{ season.number }} - {{ season.year }} - {{ season.description }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>

    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
